{{> appbar}}
<div id="individualProductContainer">
  <div class="individualProductCardA">
    <div class="individualProductImageContainer">
      <img class="productImageMock" src={{product.img}} src="product_image"/>
    </div>

    <div class="individualProductTextContainer">
      <div class="profileTextA">
        <div>Product: </div>
        <div>{{product.title}}</div>
      </div>
      <div class="profileTextA">
        <div>Price:</div>
        <div>$ {{product.price}}</div>
      </div>
      <div class="profileTextA">
        <div>Category: </div>
        <div>{{product.category}}</div>
      </div>
      <div class="profileTextA">
        <div>Available Stock: </div>
        <div>{{product.stock}}</div>
      </div>
        <br>
      <div class="descA">{{product.description}}</div>
      <br>
    </div>
    <div class="quantityContainer fixMargin2">
      <button id="decreaseButton" class="arrowButton"><</button>
      <div id="counter" class="quantityCounterA">1</div>
      <button id="increaseButton" class="arrowButton">></button>
    </div>
    <button id="addToCart" class="button"> ADD TO CART </button>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  let product = {{{jsonStringify product}}};
  let user = {{{jsonStringify user}}};
  let BASE_URL = {{{jsonStringify base_url}}}

</script>
<script src="js/product.js"></script>